* @wistnki @durswd
/core/src/Graphics/ @wistnki @durswd
/core/src/Graphics/PostEffect/ @wraikny @durswd
/core/src/Graphics/ShaderCompiler/ @durswd
/core/src/Graphics/Renderer/CullingSystem.* @gon6109
/core/src/Graphics/Font.* @gon6109
/core/src/Graphics/ImageFont.* @gon6109
/core/src/Input/ @wraikny
/core/src/Logger/ @wraikny
/core/src/Platform/ @gon6109 @durswd
/core/src/Physics/ @gon6109
/core/src/IO/ @gon6109
/core/src/Tool/ @gon6109 @durswd
/core/src/Window/ @durswd
/core/src/BaseObject.* @durswd
/cmake/ @durswd
*CMakeLists.txt @durswd
/.clang-tidy @durswd
/.clang-format @durswd
/azure-pipelines.yml @durswd
